@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0;
}
.test {
  border: 1px solid red;
}
body {
  --bg1: #f7f7fa;
  --textcolor: #525252;
  --theme: #d68e43;
  --theme50: rgb(214, 142, 67, 0.5);
  --theme20: rgb(214, 142, 67, 0.2);
  color: var(--textcolor);
  font-family: "Mulish", sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blackshadow1 {
  box-shadow: rgba(0, 0, 0, 0.12) 5px 5px 10px 0px;
}
.blackshadow1hover:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 5px 5px 10px 0px;
}
/* notification */
.notification {
  transition: opacity 0.3s 0.4s, width 0.3s,max-width 0.3s;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
}
.notification div {
  transition: opacity 0.1s;
}
/*  */
.activenotification {
  transition: opacity 0.3s, width 0.3s 0.3s ,max-width 0.3s 0.3s !important;
  width: 90% !important;
  max-width: 350px !important;
  pointer-events: all !important;
  opacity: 1 !important;
}
.activenotification div {
  opacity: 1;
  transition: opacity 0.3s 0.6s;
}
/* navbar */
@media screen and (width<1024px) {
  .sidebar {
    overflow-y: scroll;
    height: calc(100dvh - 50px);
  }
}
nav .cartcounter {
  animation: pop 0.3s ease-in-out forwards;
}
@keyframes pop {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  80% {
    scale: 1;
  }
  90% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
/* categories */
@media screen and (width<640px) {
  .categoriestile {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.123);
    background: linear-gradient(
      -145deg,
      rgba(240, 240, 240, 0),
      rgba(202, 202, 202, 0.349)
    );
  }
  /* pickups */
  .homepickups {
    min-width: calc(50% - 5px);
  }
}
/* commnets */
.commentname::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 2px;
  background-color: var(--theme);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (width>450px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 100px;
  }
  .desksidebar .columns:hover {
    border-bottom: 1px solid var(--theme);
    height: unset;
  }
  .desksidebar .columns:hover .heading {
    border-bottom: 1px solid var(--theme);
  }
  .desksidebar .columns:hover .heading svg {
    transition: 0.3s;
    transform: rotate(-180deg);
  }
  .desksidebar .columns .list:hover {
    color: var(--theme);
  }
  .desksidebar .columns:hover .list {
    height: 40px;
    opacity: 1;
  }
}
/* sub category  */
.productcards {
  width: calc(50% - 40px);
}
/* product page */
.prices {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.123) inset,
    -5px -5px 7px rgba(255, 255, 255) inset;
}
/* range input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  aspect-ratio: 1;
  background: white;
  outline: 1px solid var(--theme);
  outline-offset: 0px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(calc(-50% + 1px));
  transition: 0.2s linear, background-color 0s;
}
@media screen and (width>450px) {
  input[type="range"]::-webkit-slider-thumb:hover {
    outline-offset: 2px;
    background: var(--theme);
    transform: translateY(calc(-50% + 1px)) scale(1.2);
  }
}
@media screen and (width<450px) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    aspect-ratio: 1;
    outline: 1px solid var(--theme);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear, background-color 0s;
    outline-offset: 2px;
    background: var(--theme);
    transform: translateY(calc(-50% + 1px)) scale(1.2);
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: var(--theme);
}

/* cart */
.forminput:focus + label,
.forminput:valid + label {
  transform: translateY(-80%);
  font-size: 12px;
}

.forminput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-autofill {
  -moz-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-focusring {
  outline: 1px dotted transparent;
}

/* about us */
.aboutusheading {
  background: url(/logo&ui/bg2.jpg);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  filter: hue-rotate(0deg);
  animation: rotatehue 200s infinite linear;
}
@keyframes rotatehue {
  0% {
    filter: hue-rotate(0deg) saturate(2);
    background-position: -200% 50%;
  }
  100% {
    filter: hue-rotate(360deg) saturate(2);
    background-position: 200% 50%;
  }
}
